
#form-container {
    /* text-align: center; */
    margin: 0 auto;
    width: 30%;
    background-color: lightcoral;
  }
  
  #form-container > h1 {
    text-align: center;
  }
  
  form {
    padding: 10px;
  }
  
  input {
    display: block;
    width: 100%;
  }

  /* Totally a copy paste job */

  
body {
    background: #F6F3EA
  }
  .container ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
    font-family: Avenir, Heveltica, Arial, san-serif;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .container li {
    padding: 1em;
    background: #F9423A;
  }
  .container li:nth-child(2),
  .container li:nth-child(6){
    background: #444;
  }
  .container li:nth-child(8),
  .container li:nth-child(10){
    background: #4794B8;
  }
  .container li:nth-child(3),
  .container li:nth-child(7),
  .container li:nth-child(9) {
    background: #FF9124;
  }
  .container ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
    grid-auto-rows: 1fr;
    grid-gap: 1rem;
  }
  
  